<div class="container-fluid">
  <nav>
          <div class="nav-wrapper black">
          <ul class="left hide-on-med-and-down">
              <li><a href="#">ARENA</a></li>
              <li><a href="#"><i class="material-icons">search</i></a></li>
          </ul>
            <a href="#" class="brand-logo center"></a>
            <ul id="nav-mobile" class="right ">
              <div class="col-md-2">
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <a class="btn btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><span style="cursor:pointer">&#9776;</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{%url 'showprofile' user.id%}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Post News</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'createHood' %}">Create Neighbourhood</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/new/createbusiness">Create Business</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout <img style="width: 20px; float: right;"
                                src="https://image.flaticon.com/icons/png/512/126/126467.png" alt=""></a>
                    </div>
                </div>
            </div>
            {% else %}
            
            <a class='btn btn-default' href="/accounts/login">Login</a>
            
            {% endif %}
            </div>
                        </ul>
          </div>
  </nav>
</div>