<div class="container-fluid">
  <nav>
        <div class="nav-wrapper black">
          <ul class="left hide-on-med-and-down">
              <li><a href="#">MENU</a></li>
              <li><a href="#"><i class="material-icons">search</i></a></li>
          </ul>
            <a href="/" class="brand-logo center">PYTHON ARENA</a>

             <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn right' href='#' data-target='dropdown1'><span style="cursor:pointer">&#9776;</span></a>

            {% if user.is_authenticated %}
            <ul id='dropdown1' class='dropdown-content'>
                <li><a class="dropdown-item" href="">Profile</a></li>
                <li><a class="dropdown-item" href="#">Post</a></li>
                <li><a class="dropdown-item" href="/logout">Logout <img style="width: 20px; float: right;"
                    src="https://image.flaticon.com/icons/png/512/126/126467.png" alt=""></a></li>
            </ul>
            {% else %}
            <li><a class='btn btn-default' href="/accounts/login">Login</a></li>
            {% endif %}
        </div>
  </nav>
</div>