{% extends "registration/base.html"%} 
{ % load bootstrap4 %} 
{%load static%} 
{% block content %}
<div class="container">
 <div class="raw">
   <div class="col-md-12">
     <div class="card-body">
       <div class="signup">
         <div class="section">
           <h2>Sign up</h2>
           <div class="form-section">
             <form method="post">
               {% csrf_token %} {% for field in form %}
               <p>
                 {{ field.label_tag }}<br> {{ field }} {% if field.help_text %}
                 <small style="display: none">{{ field.help_text }}</small>
                 {% endif %} {% for error in field.errors %}
                 <p style="color: red">{{ error }}</p>
                 {% endfor %}
               </p>
               {% endfor %}
               <button type="submit">Sign up</button>
             </form>
           </div>
         </div>
         <div class="section">
           <p>Have an account? <a href="/accounts/login/">Sign In</a></p>
         </div>
       </div>
     </div>
   </div>
  
 </div>
</div>
{%endblock%}